@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: 100%;
  width: 100%;
}

body {
  margin: 0;
  @apply bg-gradient-to-br from-indigo-950 to-blue-950;
}
.btn {
  @apply py-2 px-8 border-2 border-sky-300 bg-transparent text-white hover:opacity-75;
}

.heading {
  @apply text-white font-bold text-4xl md:text-5xl xl:text-6xl;
}

p {
  @apply text-sm;
  line-height: 1.8;
}

.showcase {
  background: url("https://www.cnet.com/a/img/resize/59aff026a606fa767082eb01bc8af2f2ad99484c/hub/2018/02/08/3dcc95d9-a305-407d-9a7a-5aa80802cf45/screen-shot-2018-02-08-at-12-07-40-pm-1-1.jpg?auto=webp&fit=crop&height=675&width=1200")
    no-repeat center/cover;
}

.showcase .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.max-width {
  @apply max-w-4xl mx-auto;
}

.load {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.map-container {
  width: 50vh;
  height: 50vh;
}
